.map_info{
    position: relative;
    width: 100%;
    height: 38vw;
    background-color: #F7F7F7;
}
.search_dom{
    width: 100%;
    justify-content: center;
    /* margin: 3vw 0vw; */
}
.search_dom input{
    width: 60%;
    font-size: 1vw;
    border: .1vw solid #325679;
    padding: 0vw 1vw;
    border-radius: 10px;
}
.search_dom button{
    position: relative;
    left: -1%;
    border: 0;
    font-size: 1vw;
    border-radius: 10px;
    padding: 0.3vw 1.5vw;
}
.dom_list{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background: #EFF5F9;
    padding-bottom: 2.5vw;
}
.top_dom_list{
    width: 80vw;
    height: 8vh;
    display: flex; 

}
.text_top_dom_list{
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
    align-items: center;
    background: #EFF5F9;
    z-index: 2;
}
.line_back_home{
    height: 0.1vw;
    top: 50%;
}
.text_top_dom_list span{
    font-size: 1.6vw;
}
.text_top_dom_list img{
    width: 2.2vw;
    position: relative;
    left: -7%;
    margin-bottom: 5%;
}
.btn_dom_list{
    font-size: 1.1vw;
    color: #fff;
    margin-bottom: 1vw;
    padding: 0.4vw 1vw 0.4vw 1vw;
    border: 0px;
    border-radius: 10px;
    align-items: center;
}
.btn_dom_list img{
    width: 1.8vw;
    padding: 0vw 0.3vw 0vw 0.3vw;
}
.all_disc{
    width: 75%;
}
.div_disc{
    flex: 1 1 80%;
}
.filter_dropbox{
    flex: 1 1 10%;
}
.line_filter{
    background: #C2C2C2;
    left: 110%;
    height: 12vw;
    width: 0.2vw;
}
.box_filter_dropbox{
    margin: 1vw 0vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
.radio_type_home{
    height: 1.1vw;
    width: 1.1vw;
    margin: .3vw 0;
}
.checkbox_price{
    flex-wrap: wrap;
}
.checkbox_price input{
    flex: 1 1 20%;
    height: 1vw;
    margin: .4vw 0vw;
}
.checkbox_price span{
    flex: 1 1 75%;
    color: #325679;
}
.checkbox_convenient,.checkbox_common_fee{
    flex-wrap: wrap;
}
.checkbox_convenient input,.checkbox_common_fee input{
    flex: 1 1 15%;
    height: 1vw;
    margin: .4vw 0vw;
}
.checkbox_convenient span,.checkbox_common_fee span{
    flex: 1 1 85%;
    color: #325679;
}
.see_more img{
    margin-left: 1vw;
}
.see_more span{
    margin-left: 0.2vw;
    color: #325679;
}

/*--------------------------------*/

.main_kmitl{
    position: absolute;
    left: calc(45vw);
    top: calc(2vw);
}
.zone_fbt{
    position: absolute;
    left: calc(55vw);
    top: calc(23vw);
}
.zone_keki{
    position: absolute;
    left: calc(25vw);
    top: calc(6vw);
}
.zone_rnp{
    position: absolute;
    left: calc(9vw);
    top: calc(5vw);
}
.zone_jinda{
    position: absolute;
    left: calc(29vw);
    top: calc(22vw);
}
.zone_nikom{
    position: absolute;
    left: calc(75vw);
    top: calc(2vw);
}

.main_kmitl img{
    width: 25vw;
}

.map-el-shadow{
    position: relative;
    opacity: .7;
    width: 15VW;
}
.map-el-img{
    position: absolute;
    width: 15.2vw;
    left: 0;
    top: -1px;
    transition: .2s;
}
.map-el:hover .map-el-img{
    top: -15px;
}