
.bg_test {
    background-color: #ffe4e4;
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}
.progress_bar {
    background-color: greenyellow;
    display: flex;
    justify-content: flex-start;
    width: 15vw;
    height: 100vh;
    margin-top: 3vw;
}

.form_dom {
    background-color: white;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    width: 65vw;
    margin: 3vw auto;
}

.text_header {
    padding-left: 2%;
    font-size: 1.4vw;
    color: #325679;
}

.img_formdom {
    width: 3vw;
}

.btn_gps {
    font-family: 'Kanit', sans-serif;
    width: 18vw;
    height: 2.5vw;
    border-radius: 10px 10px 10px 10px;
    background-color: #325679;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea_form {
    height: 15vw;
    width: 50vw;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1%;
}

.continue {
    width: 55vw;
    height: 10vh;
    justify-content: flex-end;
    margin-top: 3%;
}

hr {
    width: 55vw;
    margin: 0;
    margin-left: 3%;
    margin-top: -1%;
}

#btn_detail {
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    width: 5vw;
    height: 5vh;
    border-radius: 10px 10px 10px 10px;
    border: #325679 1px solid;
    background-color: white;
    color: #325679;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

#btn_detail_underline {
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    width: 10vw;
    height: 5vh;
    border-radius: 10px 10px 10px 10px;
    border: #325679 1px solid;
    background-color: white;
    color: #325679;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

#btn_continue {
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    width: 10vw;
    height: 6vh;
    border-radius: 10px;
    border: #325679 1px solid;
    background-color: #325679;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_form {
    padding-left: 10%;
    flex-direction: column;
    color: #325679;
}

.main_form input {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 30vw;
    height: 2vw;
    margin-top: -1%;
}

.main_form select {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 30.5vw;
    height: 2.5vw;
    margin-top: -1%;
}

#address_form {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    margin-right: 2%;
}

#address_form input {
    width: 11vw;
    margin-top: -4%;
}