.bg_test {
    background-color: #ffe4e4;
    height: 290vh;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}
.form_room {
    background-color: white;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    width: 65vw;
    margin: 3vw auto;
}

.m-left {
    margin-left: 4%;
}

.img_formdom {
    width: 3vw;
}

.img_cost {
    width: 1.5vw;
    margin-right: 2%;
}

hr {
    width: 60vw;
    margin: 0;
    margin-left: 3%;
    margin-top: -1%;
}

.table_room {
    background-color: thistle;
    width: 60vw;
    height: 30vh;
    margin-left: 3%;
    margin-top: 3%;
}

.amount {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 10vw;
    height: 4.5vh;
    margin: 0 1% 0 1%;   
}

.remark {
    display: flex;
    font-size: 0.8vw;
    justify-content: flex-end;
    width: 17vw;
    color: gray;
    font-weight: 300;
}

.other {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 15vw;
    height: 4.5vh;
}

.select_mount {
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 11vw;
    height: 5vh;
    margin-left: 1%;
}

.continue {
    width: 55vw;
    height: 10vh;
    justify-content: flex-end;
    margin-top: 3%;
}

#form_cost {
    padding-left: 10%;
    flex-direction: column;
    color: #325679;
}