.form_room {
    background-color: white;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    margin: 3vw auto;
}
.input-type-room{
    display: block;
    width: 100%;
    padding: .3vw .5vw;
    font-size: .9vw;
    color: #495057;
    background-color: #fff;
    border: 0.05vw solid #325679;
    border-radius: 5px;
}
.btn-type-room{
    color: #fff;
    font-size: 1vw;
    background: #C90000;
    border: 0;
    border-radius: 50%;
    padding: 0.1vw .6vw;
}
.btn-type-room.plus{
    background: #325679;
}
.box-top-head-room-type{
    padding: 0.3vw 0vw;
    border-bottom: 0.1vw solid #C2C2C2;
}
.box-top-sub-room-type{
    border-bottom: 0.1vw solid #C2C2C2;
}
.box-top-sub-room-type p{
    padding: 0vw;
}
.m-left {
    margin-left: 4%;
}

.img_formdom {
    width: 3vw;
}

.img_cost {
    width: 1.5vw;
    margin-right: 2%;
}

hr {
    width: 60vw;
    margin: 0;
    margin-left: 3%;
    margin-top: -1%;
}

.table_room {
    background-color: thistle;
    width: 60vw;
    height: 30vh;
    margin-left: 3%;
    margin-top: 3%;
}

.amount {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 10vw;
    height: 4.5vh;
    margin: 0 1% 0 1%;   
}

.remark {
    display: flex;
    font-size: 0.8vw;
    justify-content: flex-end;
    width: 17vw;
    color: gray;
    font-weight: 300;
}

.other {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 15vw;
    height: 4.5vh;
}

.select_mount {
    font-family: 'Kanit', sans-serif;
    font-size: 1vw;
    color: #696969;
    border: #325679 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 11vw;
    height: 5vh;
    margin-left: 1%;
    text-indent: 1.7vw;
}

.continue {
    width: 55vw;
    height: 10vh;
    justify-content: flex-end;
    margin-top: 3%;
}

#form_cost {
    padding-left: 10%;
    flex-direction: column;
    color: #325679;
}