

.space-image-zone{
    height: 20vw;
}
.zone_dorm_list{
    padding-bottom: 2.5vw;
    background: #EFF5F9;
}
.zone_search_dorm input{
    width: 20%;
    font-size: 1vw;
    border: .1vw solid #325679;
    padding: 0vw 1vw;
    border-radius: 10px;
}
.zone_search_dorm button{
    position: relative;
    left: -1%;
    border: 0;
    font-size: 1vw;
    border-radius: 10px;
    padding: 0.3vw 1.5vw;
}
.zone_text_top_dorm_list{
    justify-content: space-evenly;
    z-index: 2;
    background: #EFF5F9;
}
.zone_text_top_dorm_list span{
    font-size: 1.6vw;
}
.zone_text_top_dorm_list img{
    width: 2.2vw;
    position: relative;
    left: -7%;
    margin-bottom: 5%;
}