.space_stand_logo{
    height: 13vw;
}
.space_logo{
    margin-top: 2vw;
    height: 5vw;
    padding: 3vw 5vw 5vw 5.5vw;
    border-radius: 300px 300px 0 0;
}
.space_logo img{
   height: 7.2vw;
}
.box_login{
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: 3px solid #325679;
    width: 60%;
}
.tab_child{
    padding: 0.5vw 0vw 0.5vw 0vw;
    text-align: center;
    justify-content: center;
    flex: 1 1 50%;
    color: #325679;
    border-bottom: 3px solid #325679;
}
.tab_active{
   background: #325679;
   color: #FFF;
}
.text_tab{
    font-size: 1.4vw;
}
.text_from{
    position: relative;
    margin: auto;
    flex-direction: column;
    width: 80%;
}
.text_from div input{
    width: 100%;
    height: 2.5vw;
    border: 2px solid #325679;
    border-radius: 10px;
}
.text_from div img{
    height: 2vw;
    position: absolute;
    top: 65%;
    left: 90%;
}
.text_from p{
    color: #325679;
    font-size: 1.2vw;
}
.div_checkbox{
    position: relative;
    margin: auto;
    width: 80%;
    padding: 1vw 0vw 1vw 0vw;
}
.div_checkbox span{
    font-size: 1.2vw;
    color: #325679;
}
.checkbox{
    height: 2vw;
    width: 2vw;
    
}
.box_top{
    margin: 0vw 1vw 0vw 1vw;
}
.box_bottom{
    margin: 0vw 1vw 0vw 0vw;
}
/* .checkbox:checked{
    background-color: #325679;
} */
.flex-50{
    flex: 1 1 50%;
}
.flex-50 div input{
    width: 95%;
    border-radius: 10px;
}
#input_surname{
    margin-left: 2vw;
}
.direction-row{
    flex-direction:row !important;
}

#img_email{
    height: 1.5vw;
    top: 70%;
    left: 93%;
}
#img_email2{
    height: 1.5vw;
    top: 67%;
    left: 94%;
}
#img_man1{
    height: 1.5vw;
    top: 68%;
    left: 41%;
}
#img_man2{
    height: 1.5vw;
    top: 68%;
    left: 93%;
}
#img_lock{
    height: 2vw;
    top: 64%;
    left: 95%;
}
.m-b-2{
    margin-bottom: 2vw !important;
}
.bt_color{
    border-top: 2px solid #325679;
}
.btn_login{
    margin: auto;
    margin-top: 1vw;
    background: #F26627;
    color: #FFF;
    font-size: 1.4vw;
    font-family: 'Kanit', sans-serif;
    width: 15vw;
    padding: 0.5vw 0vw 0.5vw 0vw;
    border: 0px;
    border-radius: 10px;
}
.text_forget{
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    color:#325679;
}