.bg_test {
    background-color: #ffe4e4;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}
.form_dom {
    background-color: white;
    border: #325679 2px solid;
    border-radius: 10px 10px 0 0;
    height: 100vw;
    width: 65vw;
    margin-top: 3vw;
}

.text_header {
    padding-left: 2%;
    font-size: 1.4vw;
    color: #325679;
}

.img_formdom {
    width: 3vw;
}

.btn_gps {
    font-family: 'Kanit', sans-serif;
    width: 18vw;
    height: 2.5vw;
    border-radius: 10px 10px 10px 10px;
    background-color: #325679;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_detail {
    font-family: 'Kanit', sans-serif;
    width: 5vw;
    height: 2.5vw;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    color: #325679;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

#main_form {
    padding-left: 10%;
    flex-direction: column;
    color: #325679;
}

#main_form input {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    width: 30vw;
    height: 2vw;
    margin-top: -1%;
}

#main_form select {
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    color: black;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    width: 30.5vw;
    height: 2.5vw;
    margin-top: -1%;
}

#address_form {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    margin-right: 2%;
}

#address_form input {
    width: 11vw;
    margin-top: -4%;
}