.img_admin_edit {
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, 0.2);
    padding: 0.5vw;
    border-radius: 10px;
    width: 2vw;
}

.dorm_box {
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1vw 0 1vw 1vw;
}

.dorm_component.card-body {
    padding: 0.5vw 1vw;
}