#form_bg{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#F5FAFF, #F5FAFF);
}

.dom_me {
    height: 85vh;
    width: 80vw;
    flex-direction: column;
}

.header {
    margin: 5% 0 0 0;
    height: 8vh;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
}
.header_awar {
    width: 20vw;
}

.apartment_success {
    background-color: white;
    width: 80vw;
    height: 80vh;
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.apartment_success {
    color: #C2C2C2;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.test_check {
    border: #C2C2C2 1px solid;
    border-radius: 10px;
    padding: 1vw;
}

.img_test {
    width: 20vw;
    height: 20vh;
    background-color: gray;
    background-image: url(../../img/img_test.svg);
    background-size: cover;
}

.detail_check {
    color: #325679;
    width: 25vw;
    
}
.static_box {
    width: 25vw;
    margin: 2% 0 2% 0;
}

.static_text {
    margin: 0 0 0 2%;
}

.detail_text {
    font-size: 1.5vw;
    margin: 0 0 2% 2%;
}

.detail_status {
    background-color: #FFBD38;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 7vw;
    font-size: 0.8vw;
    margin-left: 2%;
}

.detail_improve {
    font-size: 1vw;
    margin-left: 2%;
    color: #B4B4B4;
}
.btn-check-status{
    padding: .1vw 1vw;
}
.image-del-dorm-me{
    height: 3vw;
}