.nav-bar{
    margin: 0.3vw 0vw !important;
    width: 40vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-bar li{
    list-style: none;
  }
  .nav-bar li a,li a:hover{
    color: #fff;
    text-decoration: none;
  }
  .image_search_arrow{
    height: 0.4vw;
    margin-left: 0.5vw;
  }
  .dropdown-body {
    top: 170%;
    left: -50%;
    width: 200%;
    display: none;
    padding: .5vw 1vw;
  }
  .dropdown-body li{
    border-bottom: 1px solid #E5E8EC;
    font-size: 0.85vw;
    padding: .1vw 0.5vw;
  }
  .dropdown-body li:last-child{
    border: 0;
  }
  

  .dropdown-body.open {
    display: block;
  }