.img_doc {
    width: 1.5vw;
}

.note {
    font-size: 0.8vw;
    font-weight: 300;
    padding-left: 0.5vw;
    color: #a3a3a3;
}

.house_regis {
    width: 47vw;
    height: 10vh;
    border: #325679 1px solid;
    color: #325679;
}
.house_regis.active{
    background-color: #EFF5F9;
}

.header_topic {
    width: 27vw;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
}

.remark_file {
    font-size: 0.8vw;
    font-weight: 300;
    color: #a3a3a3;
}

.img_upload {
    width: 1.3vw;
}

.status {
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.status_file{
    font-size: 0.9vw;
    width: 7vw;
    height: 2vw;
    border-radius: 10px;
    background-color: #C2C2C2;
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.input-file-type{
    height: 65%;
    opacity: 0;
}
.upload {
    width: 17vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.upload_file{
    width: 13vw;
    height: 3vw;
    border-radius: 10px;
    background-image: linear-gradient(#609DD9, #034D98);
    color: white;
    font-weight: 300;
    font-size: 0.9vw;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 2%;
}

.img_info {
    width: 1.5vw;
}

.text_info {
    margin-left: 1%;
    color: #325679;
    font-weight: 300;
    font-size: 0.9vw;
}

.list_info {
    margin: 1% 0 0 5%;
    width: 50vw;
    color: #325679;
    font-weight: 300;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text_red {
    font-weight: 300;
    font-weight: 0.9vw;
    color: #C90000;
    padding-left: 0.5vw;
}
