.mt-1 {
    margin-top: 1vw;
}

.mt-3 {
    margin-top: 3vw;
}

.ml-3 {
    margin-left: 3%;
}

.t-center {
    text-align: center;
}

.bg_frame {
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.post_header {
    width: 20vw;
    align-items: center;
}

.box_post {
    width: 60vw;
    height: 60vh;
    margin-top: 1vw;
    background-color: #EFF5F9;
    border: #749EC7 1px solid;
    border-radius: 0 0 23px 23px;
    margin: 0;
    flex-direction: column;
}

.recent_post {
    background-color: #5A87B4;
    width: 60.2vw;
    height: 6vh;
    border-radius: 23px 23px 0 0;
    align-items: center;
}

.text_header_recent {
    margin:0 0 0 3%;
    color: white;
}

.board_post {
    background-color: white;
    border: #A8B3BE 1px solid;
    width: 57vw;
    height: 15vh;
}

.status_post {
    background-color: #F2A35E;
    width: 4vw;
    height: 3vh;
    border-radius: 9px;
    color: white;
    font-size: 0.9vw;
    margin: 1% 0 0 1%;
}

.title_post {
    width: 40vw;
}

.title_post p{
    font-weight: 500;
    color: #325679;
    margin: 0 0 0 2%;
}

.content_post {
    color: #99AFC5;
    font-weight: 300;
    font-size: 0.9vw;
    margin: 1% 0 0 1%;
}

.contact_post {
    margin: 0 1% 0 1%;
    font-weight: 300;
    font-size: 0.9vw;
    justify-content: space-between;
}

.name_post {
    color: #325679;
}

.time_post {
    color: #686868;
}

.page_post {
    height: 3vh;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
}

.page_num {
    background-color: white;
    width: 2vw;
    height: 4vh;
    color: #325679;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.find_post {
    margin-top: 10%;
}

.find_header_post {
    background-color: #5A87B4;
    width: 19.15vw;
    height: 6vh;
    border-radius: 23px 23px 0 0;
    align-items: center;
}

.detail_find {
    width: 19vw;
    height: 30vh;
    background-color: #EFF5F9;
    border: #749EC7 1px solid;
    border-radius: 0 0 23px 23px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_header_find {
    margin: 0 0 0 5%;
    color: white;
}

.search_post {
    width: 16vw;
    height: 4vh;
    border-radius: 39px;
    border:  #325679 1px solid;
}

.text_cate {
    margin: 3% 0 3% 0;
    color: #325679;
}

.cate_post {
    width: 16vw;
    height: 5vh;
    border-radius: 39px;
    border:  #325679 1px solid;
    font-family: 'Kanit', sans-serif;
}

.or {
    margin: 10% 0 10% 0;
}

.line_or {
    width: 19vw;
    background-color: #325679;
    margin: 0;
}

.text_or {
    background-color: white;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: -0.8% 0 0 0;
    font-size: 1vw;
    font-weight: 300;
    color: #325679;
}

.btn_post {
    width: 12vw;
    height: 7vh;
    background-image: linear-gradient(to bottom right, #FF7A40, #FFA916);
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 1vw;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
