@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body,h1,h2,h4,h5,h6,span,input,label,button,select{
  font-family: 'Kanit', sans-serif !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input{
  color: #325679;
}
.left-nav{
  flex-basis: 40%;
  /* width: 45vw; */
  justify-content: center;
}
.right-nav{
  flex-basis: 53%;
  justify-content: flex-end;
}
.right-nav a{
  color: #fff;
  text-decoration: none;
}
.right-nav a:hover{
  color: #fff;
  text-decoration: none;
}
p{
  margin: 1vw 0vw !important;
}
.d-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-evenly{
  justify-content: space-evenly;
}
.flex-column {
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.align-baseline{
  align-items: baseline;
}
.mr-1-v{
  margin-right: 1.5vw;
}
.bg-main{
  background: #325679;
}
.bg-second{
  background: #F26627;
}
.bg-third{
  background: #EFF5F9;
}
.bg-no-4{
  background: #C39178;
}
.bg-white{
  background: #fff;
}
.bg-admin{
  background:#F1F1F1;
}
.color-main{
  color: #325679;
}
.color-second{
  color: #F26627;
}
.color-white{
  color: #fff;
}
.App-link {
  color: #61dafb;
}
.kanit{
  font-family: 'Kanit', sans-serif;
}
.w-5{
  width: 5%;
}
.w-10{
  width: 10%;
}
.w-13{
  width: 13%
}
.w-15{
  width: 15%;
}
.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.w-45{
  width: 45%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-85{
  width: 85%;
}
.w-90{
  width: 90%;
}
.w-95{
  width: 95%;
}

.mt-0-5-v{
  margin-top: 0.5vw;
}
.mt-1-v{
  margin-top: 1vw;
}
.mt-1-5-v{
  margin-top: 1.5vw;
}
.mt-2-v{
  margin-top: 2vw;
}
.mt-2-5-v{
  margin-top: 2.5vw;
}
.mt-3-v{
  margin-top: 3vw;
}
.mr-0-5-v{
  margin-right: 0.5vw;
}
.mr-1-v{
  margin-right: 1vw;
}
.mr-1-5-v{
  margin-right: 1.5vw;
}
.mr-2-v{
  margin-right: 2vw;
}
.mr-2-5-v{
  margin-right: 2.5vw;
}
.mr-3-v{
  margin-right: 3vw;
}
.ml-0-2-v{
  margin-left: 0.2vw;
}
.ml-0-5-v{
  margin-left: 0.5vw;
}
.ml-1-v{
  margin-left: 1vw;
}
.ml-1-5-v{
  margin-left: 1.5vw;
}
.ml-2-v{
  margin-left: 2vw;
}
.ml-2-5-v{
  margin-left: 2.5vw;
}
.ml-3-v{
  margin-left: 3vw;
}
.ml-4-v{
  margin-left: 4vw;
}
.ml-5-v{
  margin-left: 5vw;
}
.ml-6-v{
  margin-left: 6vw;
}
.my-1-auto{
  margin: 1vw auto;
}
.my-0-5-v{
  margin: 0.5vw 0;
}
.mb-0-5-v{
  margin-bottom: 0.5vw !important;
}
.mb-1-v{
  margin-bottom: 1vw !important;
}
.mb-1-5-v{
  margin-bottom: 1.5vw !important;
}
.mb-2-v{
  margin-bottom: 2vw !important;
}
.p-0-5-v{
  padding: 0.5vw;
}
.p-1-v{
  padding: 1vw;
}
.p-2-v{
  padding: 2vw;
}
.pl-0-5-v{
  padding-left: 0.5vw;
}
.pl-1-v{
  padding-left: 1vw;
}
.pl-1-5-v{
  padding-left: 1.5vw;
}
.pl-2-v{
  padding-left: 2vw;
}
.pl-3-v{
  padding-left: 3vw;
}
.pl-4-v{
  padding-left: 4vw;
}
.pt-0-5-v{
  padding-top: 0.5vw;
}
.pt-1-v{
  padding-top: 1vw;
}
.pt-1-5-v{
  padding-top: 1.5vw;
}
.pt-2-v{
  padding-top: 2vw;
}
.py-0-5-v{
  padding: 0.5vw 0vw;
}
.py-1-v{
  padding: 1vw 0vw;
}
.px-0-5-v{
  padding: 0vw 1vw;
}
.px-1-v{
  padding: 0vw 1vw;
}
.px-3-v{
  padding: 0vw 3vw;
}
.fs-0-5-v{
  font-size: 0.5vw;
}
.fs-0-8-v{
  font-size: 0.8vw;
}
.fs-1-v{
  font-size: 1vw;
}
.fs-1-2-v{
  font-size: 1.2vw;
}
.fs-1-5-v{
  font-size: 1.5vw;
}
.fs-2-v{
  font-size: 2vw;
}
.fs-2-5-v{
  font-size: 2.5vw;
}
.fs-3-v{
  font-size: 3vw;
}
.fs-3-5-v{
  font-size: 3.5vw;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
