.size-image-dorm-list{
   height: 16vw;
}
.text-remove-hover:hover{
   text-decoration: none;
}

@media screen and (max-width: 992px){
   .disc_dom_list {
      width: 55vw;
   }
   .information span {
      font-size: 1.6vw;
   }
   .information .price {
      font-size: 2.5vw;
   }
}

@media screen and (max-width: 576px){
   .disc_dom_list {
      width: 75vw;
   }
   .information span {
      font-size: 2vw;
   }
   .information .price {
      font-size: 3vw;
   }
}