.bg_test {
    background-color: #ffe4e4;
    height: 160vh;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}
.form_image_room {
    background-color: white;
    border: #325679 2px solid;
    border-radius: 10px 10px 10px 10px;
    height: 145vh;
    width: 65vw;
    margin: 3vw auto;
}

.in_room,
.out_room {
    margin-top: 1%;
    width: 25vw;
    align-items: baseline;
}

.checkbox_room {
    margin-left: 10%;
    color: #325679;
    font-weight: 300;
}

.img_furniture {
    width: 2vw;
}

.text_topic {
    color: #325679;
    margin-left: 3%;
}

.img_warning {
    width: 1.5vw;
    margin-left: 10%;
    margin-top: 2%;
}

.text_warning {
    margin-left: 1%;
    color: #325679;
    font-weight: 300;
    font-size: 0.8vw;
}

.policy_of_img {
    background-color: #EFF5F9;
    width: 50vw;
    margin-top: 1%;
    margin-left: 10%;
    color: #325679;
    border: #325679 1px solid;
    border-radius: 10px;
    font-weight: 300;
    font-size: 0.8vw;
    justify-content: space-evenly;
}

.btn_add_image {
    background-color: #325679;
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    font-family: 'Kanit';
    font-size: 1vw;
    color: white;
    margin-left: 10%;
}

.upload_image {
    width: 50vw;
    margin: 2% 0 2% 10%;
    height: 30vh;
    border: #325679;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='10%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    justify-content: center;
    align-items: center;
}

.remark_upload {
    font-size: 1vw;
    font-weight: 300;
    margin-left: 10%;
    margin-bottom: -1%;
    color: #325679;
}

.continue {
    width: 55vw;
    height: 10vh;
    justify-content: flex-end;
    margin-top: 3%;
}


#furniture {
    width: 50vw;
    height: 45vh;
    margin-left: 10%;
}

#check {
    margin-top: -1%;
}