.profile_in_commet{
    margin: 0.7vw auto;
    border-radius: 50%;
    height: 3vw;
}
.box-comment{
    border: 2px solid #325679;
    border-radius: 10px;
}
.box-comment.admin{
    border: 2px solid #F26627;

}
.border-box-comment{
    border-top: 1px solid #C2C2C2;
}
.border-box-comment.admin{
    border-top: 1px solid #C2C2C2;
}
.border-box-comment-bottom{
    border-radius: 0px 0px 5px 5px;
}
.border-box-comment-bottom.admin{
    background: #F26627;
}
.image-check{
    height: 1vw;
}