
.bg_profile {

    margin: 3% 0 0 0;
}

.menu_profile {
    width: 18vw;
    height: 18vh;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.account,
.security {
    width: 18vw;
    height: 9vh;
    color: #325679;
    border-radius: 6px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.account:hover,
.security:hover {
    background-color: #D2DEE2;
    
}

.img_menuProfile {
    width: 1.5vw;
    margin: 0 8% 0 0;
}

.info_profile {
    width: 60vw;

    background-color: white;
    box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 11px;
}

.text_headerProfile {
    padding-left: 2%;
    font-size: 1.4vw;
    color: black;
    text-align: center;
}

.img_profile {
    width: 17vw;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_user {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: gray;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.btn_uploadImg {
    width: 12vw;
    height: 5vh;
    margin: 7% 0 0 0;
    background-color: #325679;
    border-radius: 8px;
    align-items: center;
    color: white;
    font-size: 0.8vw;
    justify-content: space-evenly;
}

.img_photo {
    width: 1.8vw;
}

.edit_profile {
    width: 40vw;
    
    flex-direction: column;
}

.text_input {
    color: #325679;
}

.input_profile {
    width: 30vw;
    height: 5vh;
    border: #A4B9E5 1px solid;
    border-radius: 5px;
    margin: -2% 0 0 4%;
    font-size: 1.3vw;
    color: #333333;
    font-weight: lighter;
}

.btn_update {
    background-color: #F2A35E;
    width: 10vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.1vw;
    color: white;
    margin: 3% 0 0 0;
}

.security_form {
    width: 25vw;
    margin: 2% 0 0 4%;
}

.input_security {
    width: 20vw;
    height: 4vh;
    border: #707070 1px solid;
    border-radius: 5px;
    margin: -2% 0 0 4%;
    font-size: 1vw;
    color: #333333;
    font-weight: lighter;
}

.ml-4 {
    margin-left: 4%;
}